# History files
*.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
*.Rdata
*.Rcheck

# RStudio files
.Rproj.user/
*.Rproj
##

package_devel/*
!package_devel/*.R

##

*._*
.DS*
*.tar.gz

*.Rproj.user
.Rproj.user
